[Unit]
Description=k3s server
After=stage-k3s.service network-online.target
Wants=network-online.target
Requires=k3s-stage-setup.service

[Service]
Type=notify
EnvironmentFile=-/etc/rancher/k3s/k3s.env
KillMode=process
Delegate=yes
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/bin/k3s server \
  --selinux \
  --write-kubeconfig-mode=644

[Install]
WantedBy=multi-user.target